body{
    margin:10px;
    background-image: url("Img/wall.jpg");
}

.container{
    width: 800px;
    margin:0 auto;
}

.barra{
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    height: 20px;
    padding: 10px;
    width: 780px;
}

.text{
    color:aliceblue;
    text-align: center;
}

#my_canvas{
    background: #000000;
    border:#000 1px solid;

}

.boton{
    color:#dc2f02;
    margin-left: 40px;
    font-size: 40px;
    background-color: #457b9d;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid blue;
}

.boton:hover{
    background-color: white;
    color: #000000;
}